/**
 * Helps set media query using the $breakpoints variable
 *
 * Usage:
 *   div {
 *    @include breakpoint(desktop) {
 *      width: 100%
 *    }
 *  }
 */
@use 'sass:meta';
@use 'sass:map';
@use 'sass:string';
@use 'breakpoints' as b;

@mixin breakpoint($breakpoint) {
  @if map.has-key(b.$breakpoints, $breakpoint) {
    @media #{meta.inspect(map.get(b.$breakpoints, $breakpoint))} {
      @content;
    }
  }
}

@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin tint($alpha: 0.25) {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, $alpha);
}

@mixin image-fill-contain {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

/**
 * Hide element but make it accessible to screen readers
 *
 * Usage:
 * .selector {
 *   @include visually-hidden;
 * }
 */
@mixin visually-hidden() {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}

/**
 * Reverse the properties applied by @mixin visually-hidden
 *
 * Accepts:
 * - $position: {String} Positioning method for element
 *
 * Usage:
 * .selector {
 *   @include visually-shown(relative);
 * }
 */
@mixin visually-shown($position: inherit) {
  // stylelint-disable-next-line
  position: $position !important;
  overflow: auto;
  width: auto;
  height: auto;
  margin: 0;
  clip: auto;
}

/**
 * Input placeholder styling
 *
 * Usage:
 *   input,
 *   textarea {
 *    @include input-placeholder {
 *      color: $grey;
 *    }
 *  }
 */
@mixin input-placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

/**
 * Outputs list of transition properties
 *
 * Accepts:
 * - $transitions: {String} List of transition properties to set
 *
 * Usage:
 * .selector {
 *   @include transition(width, height 0.5s ease-in);
 * }
 */
@mixin transition($properties: null, $duration: 250ms, $easing: 'easeOutExpo', $delay: null, $will-change: null) {
  transition-delay: $delay;
  transition-duration: $duration;

  @if ($properties) {
    transition-property: string.unquote($properties);

    @if ($will-change) {
      will-change: string.unquote($properties);
    }
  }

  @if ($easing) {
    transition-timing-function: easing($easing);
  }
}

@mixin flex($justify-value: center, $align-value: center, $flex-flow: row wrap) {
  display: flex;
  flex-flow: $flex-flow;
  justify-content: $justify-value;
  align-items: $align-value;
}

@mixin fill() {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
